{
  "printWidth": 80,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "disableLanguages": [
    "html"
  ],
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true
}
